<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iDiary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C053437A1D751A4000C1E61D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C05343911D751A4000C1E61D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C053439C1D751A4000C1E61D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
